UF2/EJ3 cosa rara/ex3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="employee">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="intern" type="dadesEmployee"/>
            <xs:element name="extern" type="dadesEmployee"/>
        </xs:sequence>
    </xs:complexType>  
</xs:element>
<xs:complexType name="dadesEmployee">
    <xs:sequence>
        <xs:element name="firstname" type="xs:string"/>
        <xs:element name="lastname" type="xs:string"/>
    </xs:sequence>
</xs:complexType>
</xs:schema>