UF2/EJ3 cosa rara/exercici3.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="menjar">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="dinar" type="xs:string"/>
            <xs:element name="sopar" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>